.venv
.git
.github
.gitignore
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
.env
bkp
.vscode
.DS_Store
README.md
frontend
k8s
jenkins
Jenkinsfile
terraform
helm
Jenkinsfile.aws
docker-compose.yml
.env*
